body {
    text-align: center;
    padding: 5px 5%;
    background-image: url('../img/bg3.jpg');
    background-size: 100%;
    font: 12pt 'Trebuchet MS';
    color: white;
}

header>h1 {
    text-shadow: 3px 3px grey;
    font-size: 70px;
}

nav {
    padding: 5px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

header {
    padding-top: 30px;
}